/* .epic_button {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #001762;
    border-radius: 10px;
}

.epic_button__text{
    position: absolute;
    left: 40.56%;
    right: 38.56%;
    top: 13.86%;
    bottom: 14.86%;
    
    font-family: '';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    
    color: #FFFFFF;
}

.epic_button_container{
    position: absolute;
    width: 50rem;
    height: 3rem;
}




 */
