/* PlanSprint.css */
.plansprint_container{
    position: absolute; /* 절대적인 위치 설정 */
    width: 80%;
    top: 50%; /* 상위 요소의 중앙으로부터 50% */
    left: 50%; /* 상위 요소의 중앙으로부터 50% */
    transform: translate(-50%, -50%); /* 요소를 가운데 정렬하기 위해 사용 */
    background-image: url('../../../public/assets/images/PlanSprint.png');
    background-size: 100% 100%;
}
.plansprint {
    position: relative;
    float: right; 
    width: 80%; /* 메뉴바 너비 제외한 가로 길이 */ 
    height: 30%;
    background: rgba(96, 156, 226, 0.5);
}

.plansprint_content{
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    /* 폰트 넣어야 함 */
}

.createSprintButton:hover{
    background-color: white;
    color: black;
}

.test{
    width: 537px;
    height: 743px;
    background-color: white;
}
