/* KakaoLoginButton.css */
/* 버튼 css */  
.kakao-login-button {
    position: absolute;
    display: inline-flex; /* 내부 요소를 가로 정렬 */
    /* 버튼 크기 */
    height: 6%;
    width: 20%;
    /* 위치 좌표 */
    left: 13%; 
    top: 60%;
    padding: 0px 28px; /* 내부 여백 */
    justify-content: center; /* 내부 요소를 가운데 정렬 */
    align-items: center; 
    border-radius: 12px;
    background: var(--kakao-bg, #FEE500); 
  }

/* 카카오톡 버튼 hover css */
.kakao-login-button:hover {
    background-color: rgba(254, 229, 0, 0.8); /* 호버 시 투명도 조절 */
}

/* 카카오톡 아이콘 이미지 css */
.kakao-icon{
    width: 25px;
    height: 25px;
    margin-right: 3% /* 아이콘과 텍스트 여백 설정 */
}

/* 카카오톡 로그인 텍스트 css */
.kakao-login-text{
    color: rgba(0, 0, 0, 0.85); 
    font-size: 20px;
    font-family: "Abyssinica SIL"; /* 글씨체 */
}