/* Login.css */
.container {
  display: flex;
  height: 100vh; /* 화면 전체 높이 */
}

.left-panel,
.right-panel {
  width: 50%; /* 화면 가로의 반만큼 너비 설정 */
}

/* KakaoLoginButton.css */
.kakao-login-button img {
  width: 50%; /* 이미지의 가로 크기를 반으로 줄임 */
  height: 50%; /* 이미지의 세로 크기를 반으로 줄임 */
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.compartment:nth-child(1) {
  background-color: red;
}
.compartment:nth-child(2) {
  background-color: yellowgreen;
}
.compartment:nth-child(3) {
  background-color: blueviolet;
}

