/* LoginPage.css */
.container {
  display: flex; /* 요소들을 수평으로 배치 */
}

.background-container {
  width: 3000px; /* 화면 전체 너비를 차지하도록 설정 */
  height: 100vh; /* 화면 높이를 전체 화면으로 설정 */
  background-image: url('../../../assets/images/LoginPage_background.png'); 
}


.compartment {
  width: 300px; /* 슬라이드의 너비를 수정한 영역에 맞춰 조정 */
  height: 250px; /* 슬라이드의 높이를 수정한 영역에 맞춰 조정 */
  flex-shrink: 0; /* 이 구역안에 생기는 영역들이 공간을 분배하여 가지지 않도록 적용 */
  font-size: 40px;
  text-align: center;
  margin: 0 auto; /* 가운데 정렬을 위해 수정 */
}


/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.compartment:nth-child(1) {
  background-color: red;
}
.compartment:nth-child(2) {
  background-color: yellowgreen;
}
.compartment:nth-child(3) {
  background-color: blueviolet;
}

