.container {
  display: flex; /* 화면에 출력된 컴포넌트 정렬 */
  background: linear-gradient(45deg, #b5fffc 10%, #ffdee9 80%);
}

.left-panel,
.right-panel {
  height: 100vh;
}

.left-panel {
  width: 50%;
}

.right-panel {
  width: 50%;
}
